.container {
  padding: 2rem;
  text-align: center;
  background-color: rgba(10, 14, 46, 0.5);
}

.title {
  font-size: 2rem;
  color: white;
  margin-bottom: 2rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
